<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form class="needs-validation" action="/campgrounds" method="POST" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="campground[title]" class="form-control" required>
        <!-- The 'name' field allows us to group our data more specifically. -->
        <!-- Here all of our data gets grouped under "campground" -->
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Enter a valid campground name.
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" id="location" name="campground[location]" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Enter a valid location.
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" id="image" name="campground[image]" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Enter a valid image URL.
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" id="description" name="campground[description]" class="form-control" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Enter a valid description.
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="text" id="price" class="form-control" name="campground[price]" placeholder="0.00" aria-label="Amount (to the nearest dollar)" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter a valid price.
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">Add Campground</button>
        </div>
    </form>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms)
      .forEach(function(form) {
        form.addEventListener('submit', function(event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>